@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,600");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #212529;
  display: flex;
  height: 100vh;
  font-family: Montserrat;
}

main {
  width: 20vw;
  background: #212529;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

h1 {
  padding: 20px 0;
  text-align: center;
  font-weight: 200;
  font-size: 1.5rem;
  color: white;
  background: #272c33;
}

main > section {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

span {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
}

i {
  margin: 10px 0;
  text-align: center;
  color: white;
}

input {
  -webkit-appearance: none;
  width: 80%;
  height: 20px;
  background: linear-gradient(to right, #16a085 0%, #16a085 100%);
  background-size: 100% 10px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  zoom: 130%;
  display: block;
  margin: auto;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #2ec66e;
  position: relative;
  z-index: 3;
}

.content {
  padding: 5vw;
  width: 70vw;
}

canvas {
  width: 100%;
  height: 100%;
}

#panel {
  position: absolute;
  bottom: calc(5vw - 1px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  min-width: 230px;
  background: rgba(0, 0, 0, 0.8);
}

#panel > span {
  margin: 3px 0;
}

#panel span {
  font-size: 0.8rem;
  font-weight: 200;
  color: white;
}

#zoom {
  position: absolute;
  top: calc(5vw + 10px);
  right: calc(5vw + 10px);
  min-width: 130px;
}

@media screen and (max-width: 1200px) {
  main {
    width: 200px;
  }

  .content {
    width: calc(100vw - 200px);
    padding: 0;
  }

  #panel {
    bottom: 0;
  }

  #zoom {
    top: 2vw;
    right: 2vw;
  }
}
